* {
    margin: 0;
    box-sizing: border-box;
}


main {
    display: flex;
    flex-direction: column;
    padding: 80px 120px;
    gap: 88px;
    max-width: 1440px;
    width: 100%;
}

/*headline-section*/

.headline-section {
    display: flex;
    justify-content: space-between;

}

.headline-section-left {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.headline-section-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.headline-section-text h3 {
    line-height: 120%;
}

.headline-section-text h1 {
    line-height: 120%;
}


.headline-section-text p {
    font-family: 'Palanquin', regular;
    font-weight: 400;
    font-size: 32px;
    line-height: 120%;
    color: var(--global-h4-color);
}

.shared-line {
    display: flex;
    gap: 32px;
}

.shared-line p {
    font-family: 'Palanquin', regular;
    font-weight: 400;
    font-size: 16px;
    color: var(--global-h4-color);
    display: flex;
    align-items: center;
    gap: 6px;
}

.card-women {
    height: 100%;
    width: 272px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--text-highlight-bg-color);
    border-radius: 30px;
    padding: 16px;

}

.women-img {
    height: 120px;
    width: 120px;
}

.textbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 16px;
}

.text-1 {
    font-weight: 400;
    line-height: 120%;
    margin-bottom: 40px;
}

.card-text1 {
    font-size: 18px;
    font-weight: 700;
}

.card-text2 {
    font-size: 18px;
    font-weight: 400;
    line-height: 40%;
}

.card-women p {
    font-family: 'Palanquin', regular;
    font-size: 16px;
    font-weight: 400;
    color: var(--global-h4-color);
    line-height: 120%;
}


/*Slider Section*/

.slider-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slider-section h4 {
    display: flex;
    justify-content: center;
    padding-bottom: 64px;
}

.slider {
    display: flex;
    justify-content: center;
}

.slider-element {
    z-index: 1;
    width: 300px;
    margin: 0px -50px;
    transform: perspective(1000px) rotateY(16deg) translateX(0);
    transition: all 300ms ease-in-out;
}

.slider-element:hover {
    z-index: 2;
    transform: perspective(1000px) rotateY(0deg) translateX(0);
    transform: scale(110%);
    margin: 0px 50px;
}

.slider-element:hover~.slider-element {
    transform: perspective(1000px) rotateY(-16deg) translateX(20px);
}

.slider-button {
    display: flex;
    justify-content: center;
}


/*text-section*/

.loremtext-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loremtext-center {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    width: 100%;
    gap: 24px;
}

.loremtext-left {
    display: flex;
    justify-content: start;
    max-width: 1000px;
    width: 100%;
}

.loremtext-center {
    display: flex;
    align-items: center;
}

.loremtext {
    font-family: 'Palanquin', regular;
    color: var(--article-p-color);
    font-size: 24px;
    font-weight: 400;
    line-height: 120%;
}

.loremtext span {
    font-weight: 700;
}


/*protipps-section*/

.protipps-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 65px 0 0 47px;
}

.protipps-box {
    height: 66px;
    width: 196px;
    background-color: var(--cb-active-bg-color);
    border-radius: 10px;
    rotate: -13.67deg;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 15px;

}

.protipps-box img {
    height: 50px;
    width: 50px;
    rotate: 13.67deg;

}

.protipps-box p {
    font-size: 28px;
    font-weight: 700;
    color: var(--button1-font-color);
}

.protipps-main {
    background-color: var(--text-highlight-bg-color);
    max-width: 1083px;
    padding: 26px 16px 24px 16px;
    border-radius: 30px;
    margin-left: 47px;
}

.protipps-main span {
    font-weight: 700;
    color: var(--global-link-color);
}

.protipps-main a {
    text-decoration: none;
}


/*share section*/
.share-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 120px;
}

.share-section-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.share-section-center-text {
    position: relative;
    width: 100%;
    max-width: 463px;
    height: auto;
    text-align: center;
}

.share-section-center-text p {
    font-family: 'Arima', latin;
    font-size: 1.5rem;
    color: var(--article-alternate-p-color);
}

.share-section-center-text-overlay {
    position: absolute;
    top: 50px;
}

#desktop-title {
    display: block;
}

#mobile-title {
    display: none;
}

.share-button details {
    display: flex;
    align-items: center;
}

.share-button details::details-content {
    inline-size: 0;
    overflow: hidden;
    transition: content-visibility 1s allow-discrete, inline-size 1s;
}

.share-button details[open]::details-content {
    inline-size: auto;
}

.share-button details>summary {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
}

.share-button details:open>summary {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}

.share-button details>div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.share-button details:open>div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.share-button-inner-icon {
    gap: 10px;
    width: auto;
}

.share-button-inner-links a {
    display: flex;
    flex-direction: column;
    font-family: 'Arima', latin;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 120%;
    color: var(--global-link-color);
}

details.shared-buttons-outer-icon[open] summary::after {
    content: url(../assets/icons/share-button-smaller.png);
}

details.shared-buttons-outer-icon:not([open]) summary::after {
    content: url(../assets/icons/share-button.png);
}

#desktop-title {
    display: flex;
}

@media screen and (min-width: 769px) and (max-width: 1279px) {

    #mobile-title {
        display: flex;
    }

    #desktop-title {
        display: none;
    }


    .headline-section {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        gap: 24px;
    }

    .card-women-center {
        display: flex;
        justify-content: center;
    }


    .card-women {
        display: flex;
        justify-content: center;
        width: 80%;
        height: 345px;
    }

    .shared-line {
        flex-wrap: wrap;
        line-height: 16px;
    }

    /*Slider Responsive*/

    .slider-responsive {
        position: relative;
        width: 1280px;
        max-width: 100%;
        height: 400px;
        margin: 0 auto;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
    }

    .slider-section h4 {
        padding-bottom: 40px;
    }

    .componet {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%) scale(110%);
        width: 100%;
        box-sizing: border-box;
        overflow: hidden;
        display: flex;
        justify-content: center;
    }

    .input.input {
        display: none;
    }

    .items {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 293px;
        aspect-ratio: 16/9;
        margin: 0 auto;
        perspective: 800px;
    }

    .item {
        position: absolute;
        top: 0;
        width: 200px;
        height: 293px;
        border-radius: 16px;
        box-sizing: border-box;
        text-align: center;
        user-select: none;
        overflow: hidden;
        transition: transform .7s;
    }

    label img {
        height: 100%;
        width: 100%;
    }

    .nav {
        display: flex;
        justify-content: center;
        padding-top: 40px;
    }

    .dot {
        width: 13px;
        height: 13px;
        margin-right: 8px;
        border-radius: 50%;
        cursor: pointer;
    }

    /*Item-1*/

    #item-1:checked~.nav label[for="item-1"] {
        background: var(--carousel-active-button-color);
        width: 44px;
        height: 22px;
        border-radius: 50px;
        cursor: default;
    }

    #item-1:checked~.nav label[for="item-2"],
    #item-1:checked~.nav label[for="item-3"],
    #item-1:checked~.nav label[for="item-4"],
    #item-1:checked~.nav label[for="item-5"] {
        background: var(--carousel-inactive-button-color);
        width: 22px;
        height: 22px;
        border-radius: 50px;
        cursor: pointer;
    }

    #item-1:checked~.items label[for="item-1"] {
        z-index: 3;
        cursor: default;
    }

    #item-1:checked~.items label[for="item-2"] {
        transform: translate3d(180px, 0, -100px) rotateY(25deg);
        z-index: 2;
    }

    #item-1:checked~.items label[for="item-3"] {
        transform: translate3d(320px, 0, -200px) rotateY(50deg);
        z-index: 1;
    }

    #item-1:checked~.items label[for="item-4"] {
        transform: translate3d(-320px, 0, -200px) rotateY(-50deg);
        z-index: 1;
    }

    #item-1:checked~.items label[for="item-5"] {
        transform: translate3d(-180px, 0, -100px) rotateY(-25deg);
        z-index: 2;
    }

    /*Item-2*/

    #item-2:checked~.nav label[for="item-2"] {
        background: var(--carousel-active-button-color);
        width: 44px;
        height: 22px;
        border-radius: 50px;
        cursor: default;
    }

    #item-2:checked~.nav label[for="item-1"],
    #item-2:checked~.nav label[for="item-3"],
    #item-2:checked~.nav label[for="item-4"],
    #item-2:checked~.nav label[for="item-5"] {
        background: var(--carousel-inactive-button-color);
        width: 22px;
        height: 22px;
        border-radius: 50px;
        cursor: pointer;
    }

    #item-2:checked~.items label[for="item-2"] {
        z-index: 3;
        cursor: default;
    }

    #item-2:checked~.items label[for="item-3"] {
        transform: translate3d(180px, 0, -100px) rotateY(25deg);
        z-index: 2;
    }

    #item-2:checked~.items label[for="item-4"] {
        transform: translate3d(320px, 0, -200px) rotateY(50deg);
        z-index: 1;
    }

    #item-2:checked~.items label[for="item-5"] {
        transform: translate3d(-320px, 0, -200px) rotateY(-50deg);
        z-index: 1;
    }

    #item-2:checked~.items label[for="item-1"] {
        transform: translate3d(-180px, 0, -100px) rotateY(-25deg);
        z-index: 2;
    }

    /*Item-3*/

    #item-3:checked~.nav label[for="item-3"] {
        background: var(--carousel-active-button-color);
        width: 44px;
        height: 22px;
        border-radius: 50px;
        cursor: default;
    }

    #item-3:checked~.nav label[for="item-1"],
    #item-3:checked~.nav label[for="item-2"],
    #item-3:checked~.nav label[for="item-4"],
    #item-3:checked~.nav label[for="item-5"] {
        background: var(--carousel-inactive-button-color);
        width: 22px;
        height: 22px;
        border-radius: 50px;
        cursor: pointer;
    }

    #item-3:checked~.items label[for="item-3"] {
        z-index: 3;
        cursor: default;
    }

    #item-3:checked~.items label[for="item-4"] {
        transform: translate3d(180px, 0, -100px) rotateY(25deg);
        z-index: 2;
    }

    #item-3:checked~.items label[for="item-5"] {
        transform: translate3d(320px, 0, -200px) rotateY(50deg);
        z-index: 1;
    }

    #item-3:checked~.items label[for="item-1"] {
        transform: translate3d(-320px, 0, -200px) rotateY(-50deg);
        z-index: 1;
    }

    #item-3:checked~.items label[for="item-2"] {
        transform: translate3d(-180px, 0, -100px) rotateY(-25deg);
        z-index: 2;
    }


    /*Item-4*/

    #item-4:checked~.nav label[for="item-4"] {
        background: var(--carousel-active-button-color);
        width: 44px;
        height: 22px;
        border-radius: 50px;
        cursor: default;
    }

    #item-4:checked~.nav label[for="item-1"],
    #item-4:checked~.nav label[for="item-2"],
    #item-4:checked~.nav label[for="item-3"],
    #item-4:checked~.nav label[for="item-5"] {
        background: var(--carousel-inactive-button-color);
        width: 22px;
        height: 22px;
        border-radius: 50px;
        cursor: pointer;
    }

    #item-4:checked~.items label[for="item-4"] {
        z-index: 3;
        cursor: default;
    }

    #item-4:checked~.items label[for="item-5"] {
        transform: translate3d(180px, 0, -100px) rotateY(25deg);
        z-index: 2;
    }

    #item-4:checked~.items label[for="item-1"] {
        transform: translate3d(320px, 0, -200px) rotateY(50deg);
        z-index: 1;
    }

    #item-4:checked~.items label[for="item-2"] {
        transform: translate3d(-320px, 0, -200px) rotateY(-50deg);
        z-index: 1;
    }

    #item-4:checked~.items label[for="item-3"] {
        transform: translate3d(-180px, 0, -100px) rotateY(-25deg);
        z-index: 2;
    }

    /*Item-5*/

    #item-5:checked~.nav label[for="item-5"] {
        background: var(--carousel-active-button-color);
        width: 44px;
        height: 22px;
        border-radius: 50px;
        cursor: default;
    }

    #item-5:checked~.nav label[for="item-1"],
    #item-5:checked~.nav label[for="item-2"],
    #item-5:checked~.nav label[for="item-3"],
    #item-5:checked~.nav label[for="item-4"] {
        background: var(--carousel-inactive-button-color);
        width: 22px;
        height: 22px;
        border-radius: 50px;
        cursor: pointer;
    }

    #item-5:checked~.items label[for="item-5"] {
        z-index: 3;
        cursor: default;
    }

    #item-5:checked~.items label[for="item-1"] {
        transform: translate3d(180px, 0, -100px) rotateY(25deg);
        z-index: 2;
    }

    #item-5:checked~.items label[for="item-2"] {
        transform: translate3d(320px, 0, -200px) rotateY(50deg);
        z-index: 1;
    }

    #item-5:checked~.items label[for="item-3"] {
        transform: translate3d(-320px, 0, -200px) rotateY(-50deg);
        z-index: 1;
    }

    #item-5:checked~.items label[for="item-4"] {
        transform: translate3d(-180px, 0, -100px) rotateY(-25deg);
        z-index: 2;
    }

    .protipps-section {
        padding: 0;
    }
}


@media screen and (min-width: 481px) and (max-width: 768px) {

    main {
        padding: 24px 15px;
        gap: 40px;
    }

    .headline-section {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        gap: 24px;
    }

    .headline-section-text h3 {
        font-size: 20px;
    }

    .headline-section-text h1 {
        font-size: 40px;
    }


    .headline-section-text p {
        font-size: 18px;

    }

    .shared-line {
        flex-wrap: wrap;
        gap: 16px;
        line-height: 16px;
    }

    .card-women-center {
        justify-content: center;
    }


    .card-women {
        justify-content: center;
        width: 328px;
        height: 345px;
    }

    .top5-text h4 {
        font-size: 20px;
        text-align: center;
    }

    .top5-text {
        margin: 0;
    }

    .loremtext {
        font-size: 16px;
    }

    .share-section-center-text p {
        font-size: 18px;
    }

    #mobile-title {
        display: block;
    }

    #desktop-title {
        display: none;
    }

    /*Slider Responsive*/

    .slider-responsive {
        position: relative;
        width: 85%;
        max-width: 100%;
        height: 400px;
        margin: 0 auto;
        box-sizing: border-box;
        overflow: hidden;
        display: flex;
        justify-content: center;
    }

    .slider-section h4 {
        padding-bottom: 20px;
        font-size: 20px;
    }

    .componet {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%) scale(110%);
        width: 100%;
        box-sizing: border-box;
        overflow: hidden;
        display: flex;
        justify-content: center;
    }

    .input.input {
        display: none;
    }

    .items {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 293px;
        aspect-ratio: 16/9;
        margin: 0 auto;
        perspective: 800px;
    }

    .item {
        position: absolute;
        top: 0;
        width: 200px;
        height: 293px;
        border-radius: 16px;
        box-sizing: border-box;
        text-align: center;
        user-select: none;
        overflow: hidden;
        transition: transform .7s;
    }

    label img {
        height: 100%;
        width: 100%;
    }

    .nav {
        display: flex;
        justify-content: center;
        padding-top: 40px;
    }

    .dot {
        width: 13px;
        height: 13px;
        margin-right: 8px;
        border-radius: 50%;
        cursor: pointer;
    }

    /*Item-1*/

    #item-1:checked~.nav label[for="item-1"] {
        background: var(--carousel-active-button-color);
        width: 44px;
        height: 22px;
        border-radius: 50px;
        cursor: default;
    }

    #item-1:checked~.nav label[for="item-2"],
    #item-1:checked~.nav label[for="item-3"],
    #item-1:checked~.nav label[for="item-4"],
    #item-1:checked~.nav label[for="item-5"] {
        background: var(--carousel-inactive-button-color);
        width: 22px;
        height: 22px;
        border-radius: 50px;
        cursor: pointer;
    }

    #item-1:checked~.items label[for="item-1"] {
        z-index: 3;
        cursor: default;
    }

    #item-1:checked~.items label[for="item-2"] {
        transform: translate3d(180px, 0, -100px) rotateY(25deg);
        z-index: 2;
    }

    #item-1:checked~.items label[for="item-3"] {
        transform: translate3d(320px, 0, -200px) rotateY(50deg);
        z-index: 1;
    }

    #item-1:checked~.items label[for="item-4"] {
        transform: translate3d(-320px, 0, -200px) rotateY(-50deg);
        z-index: 1;
    }

    #item-1:checked~.items label[for="item-5"] {
        transform: translate3d(-180px, 0, -100px) rotateY(-25deg);
        z-index: 2;
    }

    /*Item-2*/

    #item-2:checked~.nav label[for="item-2"] {
        background: var(--carousel-active-button-color);
        width: 44px;
        height: 22px;
        border-radius: 50px;
        cursor: default;
    }

    #item-2:checked~.nav label[for="item-1"],
    #item-2:checked~.nav label[for="item-3"],
    #item-2:checked~.nav label[for="item-4"],
    #item-2:checked~.nav label[for="item-5"] {
        background: var(--carousel-inactive-button-color);
        width: 22px;
        height: 22px;
        border-radius: 50px;
        cursor: pointer;
    }

    #item-2:checked~.items label[for="item-2"] {
        z-index: 3;
        cursor: default;
    }

    #item-2:checked~.items label[for="item-3"] {
        transform: translate3d(180px, 0, -100px) rotateY(25deg);
        z-index: 2;
    }

    #item-2:checked~.items label[for="item-4"] {
        transform: translate3d(320px, 0, -200px) rotateY(50deg);
        z-index: 1;
    }

    #item-2:checked~.items label[for="item-5"] {
        transform: translate3d(-320px, 0, -200px) rotateY(-50deg);
        z-index: 1;
    }

    #item-2:checked~.items label[for="item-1"] {
        transform: translate3d(-180px, 0, -100px) rotateY(-25deg);
        z-index: 2;
    }

    /*Item-3*/

    #item-3:checked~.nav label[for="item-3"] {
        background: var(--carousel-active-button-color);
        width: 44px;
        height: 22px;
        border-radius: 50px;
        cursor: default;
    }

    #item-3:checked~.nav label[for="item-1"],
    #item-3:checked~.nav label[for="item-2"],
    #item-3:checked~.nav label[for="item-4"],
    #item-3:checked~.nav label[for="item-5"] {
        background: var(--carousel-inactive-button-color);
        width: 22px;
        height: 22px;
        border-radius: 50px;
        cursor: pointer;
    }

    #item-3:checked~.items label[for="item-3"] {
        z-index: 3;
        cursor: default;
    }

    #item-3:checked~.items label[for="item-4"] {
        transform: translate3d(180px, 0, -100px) rotateY(25deg);
        z-index: 2;
    }

    #item-3:checked~.items label[for="item-5"] {
        transform: translate3d(320px, 0, -200px) rotateY(50deg);
        z-index: 1;
    }

    #item-3:checked~.items label[for="item-1"] {
        transform: translate3d(-320px, 0, -200px) rotateY(-50deg);
        z-index: 1;
    }

    #item-3:checked~.items label[for="item-2"] {
        transform: translate3d(-180px, 0, -100px) rotateY(-25deg);
        z-index: 2;
    }


    /*Item-4*/

    #item-4:checked~.nav label[for="item-4"] {
        background: var(--carousel-active-button-color);
        width: 44px;
        height: 22px;
        border-radius: 50px;
        cursor: default;
    }

    #item-4:checked~.nav label[for="item-1"],
    #item-4:checked~.nav label[for="item-2"],
    #item-4:checked~.nav label[for="item-3"],
    #item-4:checked~.nav label[for="item-5"] {
        background: var(--carousel-inactive-button-color);
        width: 22px;
        height: 22px;
        border-radius: 50px;
        cursor: pointer;
    }

    #item-4:checked~.items label[for="item-4"] {
        z-index: 3;
        cursor: default;
    }

    #item-4:checked~.items label[for="item-5"] {
        transform: translate3d(180px, 0, -100px) rotateY(25deg);
        z-index: 2;
    }

    #item-4:checked~.items label[for="item-1"] {
        transform: translate3d(320px, 0, -200px) rotateY(50deg);
        z-index: 1;
    }

    #item-4:checked~.items label[for="item-2"] {
        transform: translate3d(-320px, 0, -200px) rotateY(-50deg);
        z-index: 1;
    }

    #item-4:checked~.items label[for="item-3"] {
        transform: translate3d(-180px, 0, -100px) rotateY(-25deg);
        z-index: 2;
    }

    /*Item-5*/

    #item-5:checked~.nav label[for="item-5"] {
        background: var(--carousel-active-button-color);
        width: 44px;
        height: 22px;
        border-radius: 50px;
        cursor: default;
    }

    #item-5:checked~.nav label[for="item-1"],
    #item-5:checked~.nav label[for="item-2"],
    #item-5:checked~.nav label[for="item-3"],
    #item-5:checked~.nav label[for="item-4"] {
        background: var(--carousel-inactive-button-color);
        width: 22px;
        height: 22px;
        border-radius: 50px;
        cursor: pointer;
    }

    #item-5:checked~.items label[for="item-5"] {
        z-index: 3;
        cursor: default;
    }

    #item-5:checked~.items label[for="item-1"] {
        transform: translate3d(180px, 0, -100px) rotateY(25deg);
        z-index: 2;
    }

    #item-5:checked~.items label[for="item-2"] {
        transform: translate3d(320px, 0, -200px) rotateY(50deg);
        z-index: 1;
    }

    #item-5:checked~.items label[for="item-3"] {
        transform: translate3d(-320px, 0, -200px) rotateY(-50deg);
        z-index: 1;
    }

    #item-5:checked~.items label[for="item-4"] {
        transform: translate3d(-180px, 0, -100px) rotateY(-25deg);
        z-index: 2;
    }

    .protipps-section {
        padding: 0;
    }

}


@media screen and (max-width: 480px) {

    main {
        padding: 24px 15px;
        gap: 40px;
    }

    .headline-section {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        gap: 24px;
    }

    .headline-section-text h3 {
        font-size: 20px;
    }

    .headline-section-text h1 {
        font-size: 40px;
    }

    .headline-section-text p {
        font-size: 18px;

    }

    .shared-line {
        flex-wrap: wrap;
        gap: 16px;
        line-height: 16px;
    }

    .card-women-center {
        display: flex;
        justify-content: center;
    }


    .card-women {
        justify-content: center;
        width: 100%;
    }

    .card-women p {
        text-align: center;
    }

    .slider-section h4 {
        font-size: 20px;
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
        text-align: center;
    }

    /*Slider Responsive*/

    .slider-responsive {
        position: relative;
        width: 85%;
        max-width: 100%;
        height: 400px;
        margin: 0 auto;
        box-sizing: border-box;
        overflow: hidden;
    }

    .componet {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%) scale(110%);
        width: 100%;
        box-sizing: border-box;
        overflow: hidden;
        display: flex;
        justify-content: center;
    }

    .input.input {
        display: none;
    }

    .items {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 293px;
        aspect-ratio: 16/9;
        margin: 0 auto;
        perspective: 800px;
    }

    .item {
        position: absolute;
        top: 0;
        width: 200px;
        height: 293px;
        border-radius: 16px;
        box-sizing: border-box;
        text-align: center;
        user-select: none;
        overflow: hidden;
        transition: transform .7s;
    }

    label img {
        height: 100%;
        width: 100%;
    }

    .nav {
        display: flex;
        justify-content: center;
        padding-top: 20px;
    }

    .dot {
        width: 13px;
        height: 13px;
        margin-right: 8px;
        border-radius: 50%;
        cursor: pointer;
    }

    /*Item-1*/

    #item-1:checked~.nav label[for="item-1"] {
        background: var(--carousel-active-button-color);
        width: 44px;
        height: 22px;
        border-radius: 50px;
        cursor: default;
    }

    #item-1:checked~.nav label[for="item-2"],
    #item-1:checked~.nav label[for="item-3"],
    #item-1:checked~.nav label[for="item-4"],
    #item-1:checked~.nav label[for="item-5"] {
        background: var(--carousel-inactive-button-color);
        width: 22px;
        height: 22px;
        border-radius: 50px;
        cursor: pointer;
    }

    #item-1:checked~.items label[for="item-1"] {
        z-index: 3;
        cursor: default;
    }

    #item-1:checked~.items label[for="item-2"] {
        transform: translate3d(200px, 0, -100px) rotateY(-20deg);
        z-index: 2;
    }

    #item-1:checked~.items label[for="item-3"] {
        transform: translate3d(370px, 0, -200px) rotateY(-40deg);
        z-index: 1;
    }

    #item-1:checked~.items label[for="item-4"] {
        transform: translate3d(-370px, 0, -200px) rotateY(40deg);
        z-index: 1;
    }

    #item-1:checked~.items label[for="item-5"] {
        transform: translate3d(-200px, 0, -100px) rotateY(20deg);
        z-index: 2;
        display: none;
    }

    /*Item-2*/

    #item-2:checked~.nav label[for="item-2"] {
        background: var(--carousel-active-button-color);
        width: 44px;
        height: 22px;
        border-radius: 50px;
        cursor: default;
    }

    #item-2:checked~.nav label[for="item-1"],
    #item-2:checked~.nav label[for="item-3"],
    #item-2:checked~.nav label[for="item-4"],
    #item-2:checked~.nav label[for="item-5"] {
        background: var(--carousel-inactive-button-color);
        width: 22px;
        height: 22px;
        border-radius: 50px;
        cursor: pointer;
    }

    #item-2:checked~.items label[for="item-2"] {
        z-index: 3;
        cursor: default;
    }

    #item-2:checked~.items label[for="item-3"] {
        transform: translate3d(200px, 0, -100px) rotateY(-20deg);
        z-index: 2;
    }

    #item-2:checked~.items label[for="item-4"] {
        transform: translate3d(370px, 0, -200px) rotateY(-40deg);
        z-index: 1;
    }

    #item-2:checked~.items label[for="item-5"] {
        transform: translate3d(-370px, 0, -200px) rotateY(40deg);
        z-index: 1;
    }

    #item-2:checked~.items label[for="item-1"] {
        transform: translate3d(-200px, 0, -100px) rotateY(20deg);
        z-index: 2;
    }

    /*Item-3*/

    #item-3:checked~.nav label[for="item-3"] {
        background: var(--carousel-active-button-color);
        width: 44px;
        height: 22px;
        border-radius: 50px;
        cursor: default;
    }

    #item-3:checked~.nav label[for="item-1"],
    #item-3:checked~.nav label[for="item-2"],
    #item-3:checked~.nav label[for="item-4"],
    #item-3:checked~.nav label[for="item-5"] {
        background: var(--carousel-inactive-button-color);
        width: 22px;
        height: 22px;
        border-radius: 50px;
        cursor: pointer;
    }

    #item-3:checked~.items label[for="item-3"] {
        z-index: 3;
        cursor: default;
    }

    #item-3:checked~.items label[for="item-4"] {
        transform: translate3d(200px, 0, -100px) rotateY(-20deg);
        z-index: 2;
    }

    #item-3:checked~.items label[for="item-5"] {
        transform: translate3d(370px, 0, -200px) rotateY(-40deg);
        z-index: 1;
    }

    #item-3:checked~.items label[for="item-1"] {
        transform: translate3d(-370px, 0, -200px) rotateY(40deg);
        z-index: 1;
    }

    #item-3:checked~.items label[for="item-2"] {
        transform: translate3d(-200px, 0, -100px) rotateY(-20deg);
        z-index: 2;
    }


    /*Item-4*/

    #item-4:checked~.nav label[for="item-4"] {
        background: var(--carousel-active-button-color);
        width: 44px;
        height: 22px;
        border-radius: 50px;
        cursor: default;
    }

    #item-4:checked~.nav label[for="item-1"],
    #item-4:checked~.nav label[for="item-2"],
    #item-4:checked~.nav label[for="item-3"],
    #item-4:checked~.nav label[for="item-5"] {
        background: var(--carousel-inactive-button-color);
        width: 22px;
        height: 22px;
        border-radius: 50px;
        cursor: pointer;
    }

    #item-4:checked~.items label[for="item-4"] {
        z-index: 3;
        cursor: default;
    }

    #item-4:checked~.items label[for="item-5"] {
        transform: translate3d(200px, 0, -100px) rotateY(-20deg);
        z-index: 2;
    }

    #item-4:checked~.items label[for="item-1"] {
        transform: translate3d(370px, 0, -200px) rotateY(-40deg);
        z-index: 1;
    }

    #item-4:checked~.items label[for="item-2"] {
        transform: translate3d(-370px, 0, -200px) rotateY(40deg);
        z-index: 1;
    }

    #item-4:checked~.items label[for="item-3"] {
        transform: translate3d(-200px, 0, -100px) rotateY(20deg);
        z-index: 2;
    }

    /*Item-5*/

    #item-5:checked~.nav label[for="item-5"] {
        background: var(--carousel-active-button-color);
        width: 44px;
        height: 22px;
        border-radius: 50px;
        cursor: default;
    }

    #item-5:checked~.nav label[for="item-1"],
    #item-5:checked~.nav label[for="item-2"],
    #item-5:checked~.nav label[for="item-3"],
    #item-5:checked~.nav label[for="item-4"] {
        background: var(--carousel-inactive-button-color);
        width: 22px;
        height: 22px;
        border-radius: 50px;
        cursor: pointer;
    }

    #item-5:checked~.items label[for="item-5"] {
        z-index: 3;
        cursor: default;
    }

    #item-5:checked~.items label[for="item-1"] {
        transform: translate3d(200px, 0, -100px) rotateY(-20deg);
        z-index: 2;
        display: none;
    }

    #item-5:checked~.items label[for="item-2"] {
        transform: translate3d(370px, 0, -200px) rotateY(-40deg);
        z-index: 1;
    }

    #item-5:checked~.items label[for="item-3"] {
        transform: translate3d(-370px, 0, -200px) rotateY(40deg);
        z-index: 1;
    }

    #item-5:checked~.items label[for="item-4"] {
        transform: translate3d(-200px, 0, -100px) rotateY(20deg);
        z-index: 2;
    }

    .loremtext {
        font-size: 16px;
    }

    .share-section-center-text p {
        font-size: 18px;
    }

    .share-section-center-text img {
        position: relative;
        top: 20px;
    }

    #mobile-title {
        display: flex;
    }

    #desktop-title {
        display: none;
    }

    .protipps-section {
        padding: 0;
    }



}