* {
    margin: 0;
    box-sizing: border-box;
}


main {
    display: flex;
    flex-direction: column;
    margin-top: 208px;
    padding: 0px 120px 0px 120px;
    gap: 88px;
    max-width: 1440px;
    width: 100%;
}

/*headline-section*/

.headline-section {
    display: flex;
    justify-content: space-between;

}

.headline-section-left {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.headline-section-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.headline-section-text h3 {
    line-height: 120%;
}

.headline-section-text h1 {
    line-height: 120%;
}


.headline-section-text p {
    font-family: 'Palanquin', regular;
    font-weight: 400;
    font-size: 32px;
    line-height: 120%;
    color: var(--global-h4-color);
}

.shared-line {
    display: flex;
    gap: 32px;
}

.shared-line p {
    font-family: 'Palanquin', regular;
    font-weight: 400;
    font-size: 16px;
    color: var(--global-h4-color);
    display: flex;
    align-items: center;
    gap: 6px;
}

.card-women {
    height: 100%;
    width: 272px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--text-highlight-bg-color);
    border-radius: 30px;
    padding: 16px;

}

.women-img {
    height: 120px;
    width: 120px;
}

.textbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 16px;
}

.text-1 {
    font-weight: 400;
    line-height: 120%;
    margin-bottom: 40px;
}

.card-text1 {
    font-size: 18px;
    font-weight: 700;
}

.card-text2 {
    font-size: 18px;
    font-weight: 400;
    line-height: 40%;
}

.card-women p {
    font-family: 'Palanquin', regular;
    font-size: 16px;
    font-weight: 400;
    color: var(--global-h4-color);
    line-height: 120%;
}

/*slider-section*/

.top5-text {
    display: flex;
    justify-content: center;
    margin-bottom: 64px;
}

.slider {
    height: 440px;
    display: flex;
    justify-content: center;
    margin-bottom: 88px;
}

.slider-element {
    z-index: 1;
    width: 300px;
    height: 440px;
    margin: 0px -50px;

    transform: perspective(300px) rotateY(16deg) translateX(0);
    transform-origin: 50% 50%;
    transition: all 300ms ease-in-out;
}

.slider-element:hover {
    z-index: 2;
    transform: perspective(300px) rotateY(0deg) translateX(0);
    transform: scale(110%);
    margin: 0px 50px;
}

.slider-element:hover~.slider-element {
    transform: perspective(300px) rotateY(-16deg) translateX(20px);
}


/*text-section*/

.loremtext-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loremtext-center {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    width: 100%;
    gap: 24px;
}

.loremtext-left {
    display: flex;
    justify-content: start;
    max-width: 1000px;
    width: 100%;
}

.loremtext-center {
    display: flex;
    align-items: center;
}

.loremtext {
    font-family: 'Palanquin', regular;
    color: var(--article-p-color);
    font-size: 24px;
    font-weight: 400;
    line-height: 120%;
}

.loremtext span {
    font-weight: 700;
}


/*protipps-section*/

.protipps-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 65px 0 0 47px;
}

.protipps-box {
    height: 66px;
    width: 196px;
    background-color: var(--cb-active-bg-color);
    border-radius: 10px;
    rotate: -13.67deg;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 15px;

}

.protipps-box img {
    height: 50px;
    width: 50px;
    rotate: 13.67deg;

}

.protipps-box p {
    font-size: 28px;
    font-weight: 700;
    color: var(--button1-font-color);
}

.protipps-main {
    background-color: var(--text-highlight-bg-color);
    max-width: 1083px;
    padding: 26px 16px 24px 16px;
    border-radius: 30px;
    margin-left: 47px;
}

.protipps-main span {
    font-weight: 700;
    color: var(--global-link-color);
}

.protipps-main a {
    text-decoration: none;
}


/*share section*/
.share-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 120px;
}

.share-section-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.share-section-center-text {
    position: relative;
    width: 100%;
    max-width: 463px;
    height: auto;
    text-align: center;
}

.share-section-center-text p {
    font-family: 'Arima', latin;
    font-size: 1.5rem;
    color: var(--article-alternate-p-color);
}

.share-section-center-text-overlay {
    position: absolute;
    top: 50px;
}

#desktop-title {
    display: block;
}

#mobile-title {
    display: none;
}

.share-button details {
    display: flex;
    align-items: center;
}

.share-button details::details-content {
    inline-size: 0;
    overflow: hidden;
    transition: content-visibility 1s allow-discrete, inline-size 1s;
}

.share-button details[open]::details-content {
    inline-size: auto;
}

.share-button details>summary {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
}

.share-button details:open>summary {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}

.share-button details>div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.share-button details:open>div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.share-button-inner-icon {
    gap: 10px;
    width: auto;
}

.share-button-inner-links a {
    display: flex;
    flex-direction: column;
    font-family: 'Arima', latin;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 120%;
    color: var(--global-link-color);
}

details.shared-buttons-outer-icon[open] summary::after {
    content: url(../assets/icons/share-button-smaller.png);
}

details.shared-buttons-outer-icon:not([open]) summary::after {
    content: url(../assets/icons/share-button.png);
}


@media screen {}