main {
    margin-top: 208px;
    padding: 0 120px;
}

.landing-content-right {
    background-color: var(--text-highlight-bg-color);
    width: 272px;
    height: 389px;
    border-radius: 30px;
    padding: 16px 16px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.author-title {
    flex-direction: column;
    display: flex;
    align-items: center;
}

.author-title-name {
    font-size: 18px;
}

.author-title-second-title {
    font-size: 18px;
    font-weight: normal;
}

.author-article {
    font-size: 1rem;
    font-family: 'Palanquin', latin;
    line-height: 120%;
}

.landing-comunity {
    gap: 32px;
    display: flex;
    margin-top: 40px;
}

.landing-comunity-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
}

.landing-comunity-img1 {
    width: 16px;
    height: 18px;
}

.landing-comunity-img2 {
    width: 20px;
    height: 7px;
}

.landing-comunity-img3 {
    width: 20px;
    height: 14px;
}

.landing-comunity-img4 {
    width: 16px;
    height: 18px;
}

.landing-content-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.title-info {
    font-size: 1.75rem;
    font-family: 'Palanquin', latin;
    line-height: 110%;
    color: var(--meta-p-color);
}

.pattaya-title {
    line-height: 120%;
}

.landing-article {
    margin-top: 48px;
    font-family: 'Palanquin', latin;
    font-size: 1.75rem;
    color: var(--article-p-color);
    line-height: 120%;
}

.landing-content-left {
   
}


