main {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1440px;
    margin-top: 208px;
    padding: 0 120px;
}


.landing-content-right {
    background-color: var(--text-highlight-bg-color);
    max-width: 272px;
    height: 389px;
    border-radius: 30px;
    padding: 16px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.landing-content-right div {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 120%;
}

.author-title-name {
    font-size: 18px;
    font-weight: 700;
}

.author-title-second-title {
    font-size: 18px;
    font-weight: 400;
}

.author-article {
    font-size: 1rem;
    font-family: 'Palanquin', latin;
    line-height: 120%;
    color: var(--global-h4-color);
}

.landing-comunity {
    gap: 32px;
    display: flex;
    margin-top: 40px;
    flex-direction: row;
    flex-wrap: wrap;
}

.landing-comunity-left {
    gap: 32px;
    display: flex;
    margin-top: 40px;
    flex-direction: row;
}

.landing-comunity-right {
    gap: 32px;
    display: flex;
    margin-top: 40px;
    flex-direction: row;
}

.landing-comunity-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.landing-comunity-content p {
    font-family: 'Palanquin', latin;
    font-weight: 400;
    color: var(--global-h5-color);
    font-size: 1rem;
}

.landing-comunity-img1 {
    width: 16px;
    height: 18px;
}

.landing-comunity-img2 {
    width: 20px;
    height: 7px;
}

.landing-comunity-img3 {
    width: 20px;
    height: 14px;
}

.landing-comunity-img4 {
    width: 16px;
    height: 18px;
}

.landing-content-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.title-info {
    font-size: 1.75rem;
    font-family: 'Palanquin', latin;
    line-height: 110%;
    color: var(--global-h5-color);
}

.info-landing-left h1 {
    line-height: 120%;
}

.info-landing-left h1 span {
    display: block;
}

.landing-article {
    margin-top: 48px;
    font-family: 'Palanquin', latin;
    font-size: 1.5rem;
    color: var(--article-p-color);
    line-height: 120%;
    width: 1200px fill;
}

.landing-section {
    max-width: 1200px fill;
}

.landing-content {
    max-width: 1200px fill;
}

.rain-periods-in-pattaya {
    max-width: 1200px fill;
    margin-top: 88px;
}

.rain-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.rain-content h4 {
    line-height: 120%;
    font-size: 2rem;
    font-weight: 600;
}

.rain-content img {
    max-width: 100%;
    height: auto;
    border-radius: 53px;
    margin-top: 24px;
}

.rain-article {
    margin-top: 88px;
}

.rain-article p {
    font-size: 1.5rem;
    font-family: 'Palanquin', latin;
    line-height: 120%;
    font-weight: 400;
    color: var(--article-p-color);
}

.statistic-section {
    max-width: 1200px;
    margin-top: 88px;
}

.statistic-content {
    display: flex;
    justify-content: space-between;
}

.statistic-content-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    max-width: 519px;
}

.statistic-content-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    max-width: 519px;
}

.statistic-content-left img {
    max-width: 100%;
    height: auto;
    border-radius: 30px;
}

.statistic-content-right img {
    max-width: 100%;
    height: auto;
    border-radius: 30px;
}


.statistic-content p {
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 120%;
    font-family: 'Palanquin', latin;
    color: var(--article-p-color);
}

.statistic-article p {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 120%;
    font-family: 'Palanquin', latin;
    color: var(--article-p-color);
}

.statistic-article {
    margin-top: 16px;
}

/*share section*/
.share-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 120px;
}

.share-section-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.share-section-center-text {
    position: relative;
    width: 100%;
    max-width: 463px;
    height: auto;
    text-align: center;
}

.share-section-center-text p {
    font-family: 'Arima', latin;
    font-size: 1.5rem;
    color: var(--article-alternate-p-color);
}

.share-section-center-text-overlay {
    position: absolute;
    top: 50px;
}

#desktop-title {
    display: block;
}

#mobile-title {
    display: none;
}

.share-button details {
    display: flex;
    align-items: center;
}

.share-button details::details-content {
    inline-size: 0;
    overflow: hidden;
    transition: content-visibility 1s allow-discrete, inline-size 1s;
}

.share-button details[open]::details-content {
    inline-size: auto;
}

.share-button details>summary {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
}

.share-button details:open>summary {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}

.share-button details>div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.share-button details:open>div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.share-button-inner-icon {
    gap: 10px;
    width: auto;
}

.share-button-inner-links a {
    display: flex;
    flex-direction: column;
    font-family: 'Arima', latin;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 120%;
    color: var(--global-link-color);
}

details.shared-buttons-outer-icon[open] summary::after {
    content: url(../assets/icons/share-button-smaller.png);
}

details.shared-buttons-outer-icon:not([open]) summary::after {
    content: url(../assets/icons/share-button.png);
}

@media (max-width: 1279px) {
    .statistic-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .landing-content-right {
        height: 389px;
    }

    .landing-comunity-left {
        margin-top: 0;
    }

    .landing-comunity-right {
        margin-top: 0;
    }
}

@media (max-width: 768px) {
    main {
        margin-top: 144px;
        padding: 0px 15px;
    }

    .landing-content-container {
        display: flex;
        flex-direction: column;
    }

    .landing-content-right {
        max-width: 100%;
        height: auto;
        gap: 0;
        margin-top: 0px;
    }

    .landing-comunity {
        gap: 16px;
    }

    .title-info {
        margin-top: 24px;
    }

    .landing-comunity-content {
        gap: 6px;
    }

    .statistic-section {
        margin-top: 32px;
    }

    .statistic-content-left {
        margin-bottom: 32px;
    }

    .statistic-content-left h4 {
        margin-bottom: 16px;
    }

    .statistic-content-right h4 {
        margin-bottom: 16px;
    }

    .landing-comunity-left {
        margin-top: 24px;
    }

    .landing-comunity-right {
        margin-top: 24px;
    }
}

@media (max-width: 480px) {
    .share-section {
        margin-top: 40px;
    }

    .rain-content img {
        border-radius: 30px;
    }

    .rain-article {
        margin-top: 32px;
    }

    .info-landing-left h1 {
        font-size: 40px;
    }

    .info-landing-left h3 {
        font-size: 20px;
    }

    .info-landing-left p {
        font-size: 18px;
    }

    .landing-article {
        font-size: 1rem;
        line-height: 120%;
    }

    .rain-content h4 {
        font-size: 20px;
    }

    .rain-article p {
        font-size: 1rem;
    }

    .rain-periods-in-pattaya {
        margin-top: 32px;
    }

    .static-content-article h4 {
        font-size: 20px;
    }

    .static-content-article p {
        font-size: 1rem;
    }

    .statistic-article p {
        font-size: 1rem;
    }

    .share-section-center-text p {
        font-size: 18px;
    }

    .landing-comunity-content {
        gap: 16px;
    }

    .landing-comunity {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .landing-comunity-left {
        gap: 16px;
    }

    .landing-comunity-right {
        height: 18px;
        gap: 16px;
        margin-top: 0;
        margin-bottom: 24px;
    }

    .statistic-article p {
        color: var(--global-h5-color);
    }

    .rain-article p {
        color: var(--global-h5-color);
    }

    .landing-article {
        color: var(--global-h5-color);
    }

    .statistic-content p {
        color: var(--global-h5-color);
    }

    #lorem-landing-article {
        display: none;
    }

    /*share-section*/
    #desktop-title {
        display: none;
    }

    #mobile-title {
        display: block;
    }

    .share-section p {
        font-size: 1.125rem;
    }

    @media (max-width: 373px) {
        .landing-comunity-left{
            display: flex;
            flex-direction: column;
        }
    }
}