main {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1440px;
    gap: 88px;
    margin-top: 208px;
    padding: 0 120px;
}


.landing-content-right {
    background-color: var(--text-highlight-bg-color);
    max-width: 272px;
    height: 389px;
    border-radius: 30px;
    padding: 16px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.landing-content-right div {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 120%;
}

.author-title-name {
    font-size: 18px;
    font-weight: 700;
}

.author-title-second-title {
    font-size: 18px;
    font-weight: 400;
}

.author-article {
    font-size: 1rem;
    font-family: 'Palanquin', latin;
    line-height: 120%;
}

.landing-comunity {
    gap: 32px;
    display: flex;
    margin-top: 40px;
}

.landing-comunity-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
}

.landing-comunity-img1 {
    width: 16px;
    height: 18px;
}

.landing-comunity-img2 {
    width: 20px;
    height: 7px;
}

.landing-comunity-img3 {
    width: 20px;
    height: 14px;
}

.landing-comunity-img4 {
    width: 16px;
    height: 18px;
}

.landing-content-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.title-info {
    font-size: 1.75rem;
    font-family: 'Palanquin', latin;
    line-height: 110%;
    color: var(--meta-p-color);
}

.info-landing-left h1 {
    line-height: 120%;
}

.info-landing-left h1 span {
    display: block;
}

.landing-article {
    margin-top: 48px;
    font-family: 'Palanquin', latin;
    font-size: 1.75rem;
    color: var(--article-p-color);
    line-height: 120%;
    width: 1200px fill;
    height: 611px;
}

.landing-section {
    max-width: 1200px fill;
    height: 611px;
}

.landing-content {
    max-width: 1200px fill;
    height: 611px;
}

.rain-periods-in-pattaya {
    max-width: 1200px fill;
    height: 756px;
    margin-top: 88px;
}

.rain-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.rain-content h4 {
    line-height: 120%;
    font-size: 2rem;
    font-weight: 600;
}

.rain-content img {
    width: 640px;
    height: 436px;
    border-radius: 53px;
    margin-top: 24px;
}

.rain-article {
    margin-top: 88px;
}

.rain-article p {
    font-size: 1.75rem;
    font-family: 'Palanquin', latin;
    line-height: 120%;
    font-weight: 400;
    color: var(--article-p-color);
}

.statistic-section {
    max-width: 1200px;
    height: 100dvh;
    margin-top: 88px;
}

.statistic-content {
    display: flex;
    justify-content: space-between;
}

.statistic-content-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    max-width: 519px;
}

.statistic-content-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    max-width: 519px;
}

.statistic-content p {
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 120%;
    font-family: 'Palanquin', latin;
    color: var(--article-p-color);
}

.static-content-article {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.statistic-article {
    margin-top: 88px;
}

.statistic-article p {
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 120%;
    font-family: 'Palanquin', latin;
    color: var(--article-p-color);
}

/*share section*/
.share-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 120px;
}

.share-section-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.share-section-center-text {
    position: relative;
    width: 100%;
    max-width: 463px;
    height: auto;
    text-align: center;
}

.share-section-center-text p {
    font-family: 'Arima', latin;
    font-size: 1.5rem;
    color: var(--article-alternate-p-color);
}

.share-section-center-text-overlay {
    position: absolute;
    top: 50px;
}

.share-button details {
    display: flex;
    align-items: center;
}

.share-button details>summary {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 273px;
    padding-left: auto;

}

.share-button details:open>summary {
    width: 100%;
    max-width: 273px;

    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}

.share-button details:open>div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.share-button-inner-icon {
    gap: 10px;
}

.share-button-inner-links a {
    display: flex;
    flex-direction: column;
    font-family: 'Arima', latin;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 120%;
    color: var(--global-link-color);
}

details.shared-buttons-outer-icon[open] summary::after {
    content: url(../assets/icons/Share-button-smaller.png);
}

details.shared-buttons-outer-icon:not([open]) summary::after {
    content: url(../assets/icons/share-button.png);
}