* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

.slider_main {
  position: relative;
  background-color: black;
  width: 500px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}

.slider_main input {
  z-index: 2;
}

.slider_main_wrapper {
  z-index: 1;
  width: 400%;
  height: 100%;
  position: absolute;
  display: flex;
  transition: all 0.75s ease-in-out;
}

.slider_main_element {
  width: calc(100% / 4);
  height: 100%;
}

.slider_main input[value="one"]:checked~.slider_main_wrapper {
  transform: translateX(calc(150% / 4));
}

.slider_main input[value="two"]:checked~.slider_main_wrapper {
  transform: translateX(calc(50% / 4));
}

.slider_main input[value="three"]:checked~.slider_main_wrapper {
  transform: translateX(calc(-50% / 4));
}

.slider_main input[value="four"]:checked~.slider_main_wrapper {
  transform: translateX(calc(-150% / 4));
}

.element_one {
  background-color: blue;
}

.element_two {
  background-color: red;
}

.element_three {
  background-color: green;
}

.element_four {
  background-color: rgb(221, 255, 0);
}

/*Accordions*/

details>summary {
  padding: 4px;
  width: 200px;
  background-color: #eeeeee;
  border: none;
  box-shadow: 1px 1px 2px #bbbbbb;
  cursor: pointer;
}

details>p {
  background-color: #eeeeee;
  padding: 4px;
  margin: 0;
  box-shadow: 1px 1px 2px #bbbbbb;
}