:root {
  interpolate-size: allow-keywords;
}

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  flex: 1;
}

h1 {
  font-family: "Arima", latin;
  font-weight: 700;
  font-size: 4rem;
  color: var(--global-h1-color);
}

h2 {
  font-family: "Arima", latin;
  font-weight: 700;
  font-size: 3.25rem;
  color: var(--global-h2-color);
}

h3 {
  font-family: "Palanquin", latin;
  font-weight: 600;
  font-size: 2.5rem;
  color: var(--global-h3-color);
}

h4 {
  font-family: "Arima", latin;
  font-weight: 600;
  font-size: 2rem;
  color: var(--global-h4-color);
}

h5 {
  font-family: 'Palanquin', regular;
  font-weight: 500;
  line-height: 110%;
  font-size: 1.5rem;
  color: var(--global-h5-color);
}

/*Header & Nav*/
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: var(--nav-footer-bg-color);
  width: 100%;
  height: var(--header-height);
}

.header-navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 1440px;
  margin-left: 146px;
  gap: 102px;
}

.header-navbar img {
  width: 72px;
  height: 72px;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  gap: 72px;

  list-style: none;
}

.navbar a {
  text-decoration: none;
  font-family: "Arima", latin;
  font-weight: 700;
  line-height: 80%;
  font-size: 1.5rem;
  color: var(--nav-primary-font-color);
}


/*Main Sections*/

/*Hero*/
.hero {
  height: 515px;
  background-image: url("../assets/img/index/landing-photo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: var(--header-height);
  z-index: -1;
}

.hero-slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}

.main-photo,
.main-photo-cover-one,
.main-photo-cover-two {
  height: 515px;
}

.hero-slider-main {
  display: block;
  z-index: 1;
}

.hero-side-slides {
  position: absolute;
  display: flex;
  width: 300%;
  transition: all 10s ease-in-out;
  z-index: 10;
}

.main-photo-cover {
  display: flex;
  width: calc(100% / 3);
  height: 100%;
  justify-content: flex-end;
  text-align: center;
}

/*Content*/
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0px;
  gap: 120px 120px;
  width: 100%;
  max-width: 1200px;
}

/*Highlights + Slider*/
.highlights {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 88px;
}

.highlights-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 979px;
  gap: 24px;
}

.highlights-slider-text {
  background-color: rgba(255, 255, 255, 0.1);
  position: absolute;
  left: 38px;
  top: 54px;
  height: 229px;
  width: 881px;
  color: white;
  padding: 16px 24px;
  backdrop-filter: blur(10px);
  border-right: solid 1px white;
  border-left: solid 1px white;
}

.highlights-slider-text h3 {
  display: flex;
  color: white;
  font-family: "Palanquin dark";
  font-weight: 600;
  font-style: SemiBold;
  font-size: 48px;
  line-height: 100%;
  font-family: Palanquin Dark;
  letter-spacing: 0%;
  margin-bottom: 8px;
}

.highlights-slider-text p {
  width: 820px;
  height: 93px;
  font-family: "Palanquin", latin;
  font-weight: 400;
  font-size: 28px;
  line-height: 110%;
}

.section-heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.section-heading img {
  width: 48px;
  height: 48px;
}

.slider-main {
  position: relative;
  width: 100%;
  height: 533px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}

.slider-main input {
  z-index: 2;
}

.slider-main-wrapper {
  z-index: 1;
  width: 400%;
  height: 100%;
  position: absolute;
  display: flex;
  z-index: 1;
  transition: all 0.75s ease-in-out;
}

.slider-main-element img {
  width: 100%;
  height: 533px;
}

.slider-main-element {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: calc(100% / 4);
  height: 533px;
}

.slider-main input[value="one"]:checked~.slider-main-wrapper {
  transform: translateX(calc(150% / 4));
}

.slider-main input[value="two"]:checked~.slider-main-wrapper {
  transform: translateX(calc(50% / 4));
}

.slider-main input[value="three"]:checked~.slider-main-wrapper {
  transform: translateX(calc(-50% / 4));
}

.slider-main input[value="four"]:checked~.slider-main-wrapper {
  transform: translateX(calc(-150% / 4));
}

.slider-main input[type="radio"] {
  appearance: none;
  margin: 10px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  cursor: pointer;
  display: grid;
  background: var(--slider-inactive-button-color);
}

.slider-main input[type="radio"]::before {
  border-radius: 50%;
  transform: scale(0);
  transition: 0.15s ease;
  background: var(--slider-inactive-button-color);
}

.slider-main input[type="radio"]:checked {
  background: var(--slider-active-button-color);
  margin: 10px;
  width: 40px;
  height: 28px;
  border-radius: 999px;
  cursor: pointer;
  display: grid;
}

/*FAQ*/
.faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
}

.accordions {
  display: grid;
  gap: 32px;
}

.accordions details {
  background-color: var(--accordions-bg-color);
  border-radius: 12px;
  padding: 16px 14px;

  overflow: hidden;
}

.accordions details::details-content {
  block-size: 0;
  transition: content-visibility 1s allow-discrete, opacity 1s, block-size 1s;
}

.accordions details[open]::details-content {
  block-size: auto;
}

.accordions details>summary {
  display: flex;
  position: relative;
  width: 1200px;

  background-color: var(--accordions-bg-color);
  border-radius: 12px;
  cursor: pointer;

  font-family: "Palanquin", latin;
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--index-main-color);
  transition: block-size 1s;
}

.accordions summary::after {
  content: url(../assets/icons/accordion-arrow-closed.png);
}

.accordions summary::before,
.accordions summary::after {
  position: absolute;
  right: 32px;
  transform: translateY(-50%);
}

.accordions summary::after {
  transform: rotate(-180deg);
  transform-origin: 50% 50%;
  transition: all 1s ease-in-out;
}

.accordions [open] summary::after {
  transform: rotate(0deg);
}

.accordions details>p {
  padding: 4px 10px;
  font-family: "Palanquin", latin;
  font-weight: 500;
  font-size: 1rem;
  color: var(--index-main-color);
  background-color: var(--accordions-p-bg-color);
  line-height: 120%;
  border-radius: 5px;
}


/*Contact*/
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1100px;
  gap: 56px;
}

.contact-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.contact-head h5 span {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*contact inputs*/
.contact-inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1100px;
  gap: 16px;
}

.contact label {
  font-family: 'Palanquin', regular;
  font-weight: 500;
  line-height: 120%;
  font-size: 1.5rem;
  color: var(--global-label-color);
}

.cto-label {
  max-width: 517px
}

.cto-label,
.cto-label-two {
  width: 100%;
}

.cto-label input,
.cto-label-two input {
  width: 100%;
  outline: none;
  border: 0;
}

.contact-inputs-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}

.contact-inputs-top label {
  display: block;
}

.contact-inputs-top input[type=text] {
  width: 100%;
  border-bottom: 1px solid black;
}

.contact-top-one {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1100px;
}

.contact-inputs-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}


/*Checkbox*/
.cib-checkbox label {
  font-family: 'Palanquin', regular;
  font-weight: 400;
  line-height: 120%;
  font-size: 15px;
  text-decoration: none;
  color: var(--global-label-color);
}

.cib-checkbox label a {
  font-family: 'Palanquin', regular;
  font-weight: 400;
  line-height: 120%;
  font-size: 15px;
  text-decoration: none;
  color: var(--global-link-color);
}

.cib-checkbox {
  display: flex;
  position: relative;
}

.checkbox-container {
  padding-left: 32px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0px;
  left: 5px;
  height: 18px;
  width: 18px;
  border: 2px solid var(--cb-border-color);
  border-radius: 3px;
}

.checkbox-container:hover input~.checkmark {
  background-color: var(--cb-hover-bg-color);
  border: 2px solid var(--cb-border-color);
}

.checkbox-container input:checked~.checkmark {
  background-color: var(--cb-active-bg-color);
  border: 2px solid var(--cb-active-bg-color);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked~.checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  top: 1px;
  left: 4px;
  width: 4px;
  height: 8px;
  border: 1px solid var(--cb-active-font-color);
  border-width: 0 2px 2px 0;
  border-radius: 1px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


/*Footer*/
.footer {
  display: flex;

  align-items: center;
  justify-content: center;
  background-color: var(--nav-footer-bg-color);
  width: 100%;
  height: 128px;
  padding: 60px 120px;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
}

.footer-content p,
.footer-content a {
  text-decoration: none;
  font-family: "Palanquin", latin;
  font-weight: 400;
  font-size: 1rem;
  color: var(--nav-primary-font-color);
  padding: 0;
}

.footer-content-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  gap: 72px;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
}

.copyright img {
  width: 20px;
  height: 20px;
}

.footer-content-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  gap: 16px;
}

.footer-content-right img {
  height: 32px;
}