:root {

    /*Font-Colors*/
    --nav-primary-font-color: rgba(248, 245, 235, 1);
    --nav-primary-font-color-hover: rgba(241, 201, 83, 1);
    --footer-primary-font-color: rgba(255, 255, 255, 1);
    --index-main-color: rgba(84, 55, 13, 1);
    --global-h1-color: rgba(241, 201, 83, 1);
    --global-h2-color: rgba(78, 164, 135, 1);
    --global-h3-color: rgba(78, 164, 135, 1);
    --global-h4-color: rgba(84, 55, 13, 1);
    --global-h5-color: rgba(84, 55, 13, 1);
    --global-label-color: rgba(84, 55, 13, 1);
    --global-link-color: rgba(78, 164, 135, 1);
    --article-p-color: rgba(61, 61, 61, 1);
    /* Datum / Reading-Time / Read / Shared */
    --article-alternate-p-color: rgba(84, 55, 13, 1);
    --form-message-fill-font-color: rgba(78, 164, 135, 1);
    --error-mesage-font-color: rgba(185, 16, 47, 1);


    /*Background-Colors*/
    --nav-footer-bg-color: rgba(78, 164, 135, 1);
    --accordions-bg-color: rgba(241, 201, 83, 1);
    --accordions-p-bg-color: rgba(255, 255, 255, 1);
    --text-highlight-bg-color: rgba(78, 164, 135, 0.2);

    /*Shadows*/
    --slider-drop-shadow-color: rgba(0, 0, 0, 0.25);


    /*Buttons*/
    /*Slider Buttons*/
    --slider-active-button-color: rgba(241, 201, 83, 1);
    --slider-inactive-button-color: rgba(255, 255, 255, 1);

    /*Style green-yellow*/
    --button1-font-color: rgba(241, 201, 83, 1);
    --button1-bg-color: rgba(78, 164, 135, 1);

    /*Style clear-grey*/
    --button2-font-color: rgba(115, 115, 115, 1);
    --button2-border-color: rgba(48, 48, 48, 0.5);

    /*Check Box*/
    --cb-border-color: rgba(84, 55, 13, 1);
    --cb-hover-bg-color: rgba(241, 201, 83, 1);

    --cb-active-border-color: rgba(78, 164, 135, 1);
    --cb-active-bg-color: rgba(78, 164, 135, 1);
    --cb-active-font-color: rgba(241, 201, 83, 1);

    /*Indicators*/
    --carousel-active-indicator-bg-color: rgba(78, 164, 135, 1);
    --carousel-inactive-indicator-bg-color: rgba(78, 164, 135, 0.3);


    --header-height: 128px;

}